
footer{
    background-color: #535245;
}

nav{
    background-color: #ab2513;
}



main {
    width: 300px;
    padding: 20px;
}

label {
    display: inline-block;
    width: 200px;
    margin-bottom: 5px; 
}

input[type="text"] {
    width: 150px;
    margin-left: 200px;
    margin-top: 5px;
}


a:link {
    color: white;
    text-decoration: none;
    margin-right: 15px;
 }