main{
    border-color: grey;
}
footer{
    color: white;
    background-color: #535245;
}

nav{
    background-color: #ab2513;
}

label {
    display: inline-block;
    width: 500px;
  }


a:link {
    color: white;
    text-decoration: none;
    margin-right: 15px;
 }