body {
    background-color: hsl(0, 0%, 22%);
    color: white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type=submit] {
    margin: 10px 25px;
    padding: 10px 25px;
    cursor: pointer;
}

.error {
    color: red;
    margin-left: 5px;
}